* {
    --light-blue: #4d5bb5;
    --purple: #24165e;
    --gray: #353d4e
}

main {
    display: flex;
    flex-direction: row;
}

aside {
    width: 20%;
}

h2 {
    font-weight: bold;
}

h3 {
    font-size: 130%;
    font-weight: bold;
}

ul {
    list-style-type: none;
    line-height: 2rem;
    padding-left: 0;
}

section {
    width: 70%;
}

img {
    display: none;
    width: 50px;
    height: 50px;
}

#today {
    border: 1px solid black;
}

.bold {
    font-size: 64pt;
    font-weight:700;
}

.background {
    background-image: linear-gradient(to right, var(--light-blue) , var(--purple));
}

.btn {
    background-color: var(--light-blue);

}

.line {
    border-bottom: 1px solid gray;
}

.card {
    margin-right: 1rem;
    border-radius: 0;
    color: white;
    background-color: var(--gray);
}

